img {
  max-height: 40vh;
  max-width: 80%;
  object-fit: cover;
}
// image carousel
.slick-arrow::before {
  color: #3545a0 !important;
}
.slick-list {
  max-width: 600px;
}
.slick-slider {
  display: flex;
  align-items: center;
}
.slick-track {
  width: 1400px;
}
@media screen and (max-width: 600px) {
  .slick-list {
    max-width: 200px;
  }
  img {
    max-width: 100%;
  }
}
