.footer_logo {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.footer_logo::before, .footer_logo::after {
  content: "";
  width: calc(33.333333% - 100px);
  height: 0.5px;
  background-color: black;
  position: absolute;
  top: 50%;
}

.footer_logo::before {
  left: 5%;
}

.footer_logo::after {
  right: 5%;
}

.footer_logo_link {
  color: black !important;
  font-size: 20px;
  letter-spacing: 3px;
}

.footer_logo_link:hover {
  text-decoration: none !important;
}

ul {
  text-align: center;
  list-style: none;
  margin-top: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.icon_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icon_group li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.icon_group li::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.icon_group li:hover {
  color: white;
}

.icon_group li:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

p {
  font-size: 12px;
}

a {
  font-size: 12px;
}

li > a {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #000000;
  letter-spacing: 2px;
}

li > a::after {
  content: "";
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 0;
  bottom: 0;
  right: 0;
  height: 0.2px;
  background-color: #000000;
}

li > a:hover::after {
  width: 100%;
  left: 0;
}

.footer_newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer_newsletter_title {
  font-weight: 500;
  padding-top: 3.3rem;
  letter-spacing: 3px;
}

.footer_newsletter_title::before {
  content: "";
  width: 1px;
  height: 3rem;
  background-color: black;
  position: absolute;
  top: 0;
  left: 50%;
}

.form-newsletter {
  border: 1px solid #000000;
  text-align: center;
}

.form-newsletter input {
  text-align: center;
  border: 0;
  border-bottom: 1px solid #000000;
  letter-spacing: 2px;
  font-size: 0.625rem;
  height: 40px;
  width: 100%;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-newsletter input:focus-visible {
  outline: none;
  background-color: #f0efef;
}

.form-newsletter button {
  height: 40px;
  width: 100%;
  letter-spacing: 2px;
  background-color: white;
  border: 0;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */